<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-replay" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CordovaReplay</name>
    <description>This cordova plugin allows to use the ReplayKit framework in iOS</description>
    <keywords>cordova,replaykit,screen recording</keywords>
    <license>MIT</license>
    <repo>https://github.com/kaelhem/cordova-replay.git</repo>

    <engines>
        <engine name="cordova-ios" version=">=3.8.0" />
    </engines>

    <js-module name="CordovaReplay" src="www/CordovaReplay.js">
        <clobbers target="cordova.plugins.Replay"/>
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaReplay">
                <param name="ios-package" value="CordovaReplay"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/cordova-replay-Bridging-Header.h"/>
        <source-file src="src/ios/CDVCordovaReplay.swift"/>
        <framework src="ReplayKit.framework" />
        <framework src="UIKit.framework" />
    </platform>
</plugin>